.logo {
  width: 120px;
  height: 31px;
  background: #333;
  margin: 16px 24px 16px 0;
  float: left;
  background-image:url('./logo.svg');
  background-repeat: no-repeat;
}


#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}

.login-provider-button{
  padding: 10px 20px;
}